.page-header {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}
h1 {
    color: darkgray;
}

.gutter {
    height: 25px;
}
/* Menu rules */
menu.pagemenu.affix {
    top: 35px;
    margin-top: 0;
}

menu.pagemenu a {
    font-size: 14px;
    padding: 4px 0px;
    color: grey;
    display: block;
}

menu.pagemenu a:hover {
    background-color: transparent;
    text-decoration: none;
    border-left: 1px solid black;
    color: black;
}

li.active > a, li.active > a:hover {
    border-left: 2px solid black;
    color: black;
}

menu.pagemenu .nav {
    display: none;
    padding-bottom: 10px;
}

menu.pagemenu li.active > .nav {
    display: block;
}

/* Indendation rules */
/* Level 1 */
menu.pagemenu a {
    padding-left: 20px;
}

menu.pagemenu  a:hover {
    padding-left: 19px;
}

menu.pagemenu  li.active>a {
    padding-left: 18px;
}

/* Level 2 */
menu.pagemenu .nav a {
    padding-left: 40px;
}

menu.pagemenu .nav a:hover {
    padding-left: 39px;
}

menu.pagemenu .nav li.active>a {
    padding-left: 38px;
}

/* Level 3 */
menu.pagemenu .nav .nav a {
    padding-left: 60px;
}

menu.pagemenu .nav .nav a:hover {
    padding-left: 59px;
}

menu.pagemenu .nav .nav li.active>a {
    padding-left: 58px;
}