textarea {
  vertical-align: top;
}
@media print {
  @page  {
    margin: 2cm .5cm;
  }
}
body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; /*Open Sans;*/
  font-size: 12px;
}
a:focus {
  outline: 0;
}
hr {
  margin-top: 17px;
  margin-bottom: 17px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 17px;
  margin-bottom: 8.5px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
h1,
.h1 {
  font-size: 31px;
}
h2,
.h2 {
  font-size: 25px;
}
h3,
.h3 {
  font-size: 21px;
}
h4,
.h4 {
  font-size: 15px;
}
h5,
.h5 {
  font-size: 12px;
}
h6,
.h6 {
  font-size: 11px;
}
p {
  margin: 0 0 8.5px;
}
.lead {
  margin-bottom: 17px;
  font-size: 13px;
}
@media (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
}
h1 small,
.h1 small {
  font-size: 21px;
}
h2 small,
.h2 small {
  font-size: 15px;
}
h3 small,
.h3 small,
h4 small,
.h4 small {
  font-size: 12px;
}
.page-header {
  padding-bottom: 7.5px;
  margin: 34px 0 17px;
}
ul,
ol {
  margin-bottom: 8.5px;
}
dl {
  margin-bottom: 17px;
}
blockquote {
  padding: 8.5px 17px;
  margin: 0 0 17px;
  font-size: 15px;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '';
}
address {
  margin-bottom: 17px;
}
pre {
  padding: 8px;
  margin: 0 0 8.5px;
  font-size: 11px;
}
.table {
  margin-bottom: 17px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 6px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 4px;
}
legend {
  margin-bottom: 17px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: bold;
}
legend .btn {
   margin-top: -5px;
}
.form-control {
  height: 27px;
  padding: 4px 12px;
  font-size: 12px;
  vertical-align: middle;
}
.radio,
.checkbox {
  min-height: 17px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.input-sm {
  height: 24px;
  padding: 3px 10px;
  font-size: 11px;
}
select.input-sm {
  height: 24px;
  line-height: 24px;
}
.input-lg {
  height: 33px;
  padding: 6px 16px;
  font-size: 15px;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0;
}
select.input-lg {
  height: 33px;
  line-height: 33px;
}
.form-horizontal .checkbox-inline {
  padding-top: 5px;
}
.btn {
  padding: 4px 12px;
  font-size: 12px;
}
.btn-lg {
  padding: 6px 16px;
  font-size: 15px;
}
.btn-sm,
.btn-xs {
  padding: 3px 10px;
  font-size: 11px;
}
.btn-group-xs .dropdown-menu {
  font-size: 12px;
  background-color: #fcfcfc;
}
.dropdown-menu .divider {
  margin: 7.5px 0;
}
.dropdown-header {
  font-size: 11px;
}
.btn-group-xs > .btn {
  font-size: 11px;
}
.btn-group-sm > .btn {
  font-size: 11px;
}
.btn-group-lg > .btn {
  padding: 6px 16px;
  font-size: 15px;
}
.input-group-lg > .input-group-btn > .btn {
  height: 33px;
  padding: 6px 16px;
  font-size: 15px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 33px;
  line-height: 33px;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 24px;
  padding: 3px 10px;
  font-size: 11px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 24px;
  line-height: 24px;
}
.input-group-addon {
  padding: 4px 12px;
  font-size: 12px;
}
.input-group-addon.input-sm {
  padding: 3px 10px;
  font-size: 11px;
}
.input-group-addon.input-lg {
  padding: 6px 16px;
  font-size: 15px;
}
.input-group-btn > .btn + .btn {
  margin-left: -4px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  margin-left: 2px;
}
/*
.nav > li > a {
  padding: 6px 15px;
}
.nav .nav-divider {
  margin: 7.5px 0;
}
.navbar {
  min-height: 25px;
  margin-bottom: 17px;
}
.navbar-toggle {
  margin-top: -4.5px;
  margin-bottom: -4.5px;
}
.navbar-nav {
  margin: 2px -15px;
}
.navbar-nav > li > a {
  line-height: 17px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 17px;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
*/
.navbar-text {
  margin-top: 4px;
  margin-bottom: 4px;
}
.breadcrumb {
  margin-bottom: 17px;
}
.pagination {
  /*margin: 17px 0;*/
  margin: -1px 0 0 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;  
}
.pagination > li > a,
.pagination > li > span {
  padding: 4px 12px;
  border: 1px solid #BBB;
  color: #262626;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {color: #262626;border-color: #BBB;}
.pagination-lg > li > a,.pagination-lg > li > span {
  padding: 6px 16px;
  font-size: 15px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #FFF;
    background-color: #6D6D6D;
    border-color: #4E4E4E;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 3px 10px;
  font-size: 11px;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
border-bottom-left-radius: 4px;
border-top-left-radius: 0;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
border-bottom-right-radius: 4px;
border-top-right-radius: 0;
}
.pager {
  margin: 17px 0;
}
.pager li > a,
.pager li > span {
  border-radius: 10px;
}
.badge {
  font-size: 11px;
}
.alert {
  margin-bottom: 17px;
}
.progress {
  height: 17px;
  margin-bottom: 17px;
}
.help-block {font-size:11px;font-style:italic;margin-top:0;margin-bottom:0;}
.panel {
  margin-bottom: 17px;
}
.panel-title {
  font-size: 14px;
  color: #333;
  text-shadow: 1px 1px 1px #FFF;  
}
.close {
  font-size: 18px;
}
.tooltip {
  font-size: 11px;
}
.popover-title {
  font-size: 12px;
}
.popover .arrow {
  border-width: 9px;
}
.popover .arrow:after {
  border-width: 8px;
}
.popover.top .arrow {
  bottom: -9px;
  margin-left: -9px;
}
.popover.top .arrow:after {
  margin-left: -8px;
}
.popover.right .arrow {
  left: -9px;
  margin-top: -9px;
}
.popover.right .arrow:after {
  bottom: -8px;
}
.popover.bottom .arrow {
  top: -9px;
  margin-left: -9px;
}
.popover.bottom .arrow:after {
  margin-left: -8px;
}
.popover.left .arrow {
  right: -9px;
  margin-top: -9px;
}
.popover.left .arrow:after {
  bottom: -8px;
}
.btn:focus {
  outline: 0;
}

.modal-dialog {
	margin: 15% auto;
}