html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}
hr {
  margin: 8px 0 -5px;
}
a.grey {
  color: #aaaaaa;
}
a.blue {
  font-weight: bold;
}
@media (max-width: 400px) {
  a.grey, a.blue {font-size: 12px;}
}
.login-container {
  top: 0;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  margin-top: 20px;
  padding-bottom: 25px;
}
@media (max-width: 480px) {
  .login-container {
    margin: 20px 5% 0;
    left: auto;
    width: 90%;
  }
}
.login-container .logo, .login-container .loginbox {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 480px) {
  .login-container .logo, .login-container .loginbox {width: 100%;}
}
.login-container .logo {padding: 20px 0 20px 5px;}
.login-container .logo img {width: 215px;margin: 0 auto;display: block;}
.login-container .logo h2.letterpress {
	font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #DAD8D8;
	text-shadow: 0px 3px 3px #FFFFFF;
}
.login-container .loginbox {
  background: #ffffff;
  box-shadow: 0 0 4px #000000;
  border-radius: 7px;
  overflow: hidden !important;
  text-align: center;
  position: relative;
}
.login-container .loginbox p {
  margin-top: 15px;
  padding: 0 20px;
}
@media (max-width: 400px) {
  .login-container .loginbox p {font-size: 12px !important;}
}
.login-container .loginbox .form-actions {
  padding: 5px 20px 15px;
}
.login-container .loginbox .form-actions .pull-left,
.login-container .loginbox .form-actions .pull-right {
  margin-bottom: 10px;
}
.login-container .loginbox .form-actions .pull-left {
  text-align: left;
}
.login-container .loginbox .form-actions .pull-right {
  text-align: right;
}
.input-group {
  padding: 7px 20px;
  width: 75%;
  margin: 5px auto;  
}
.footer-login {
  border-top: 1px solid #e6e6e6;
  color: gray;
}
