*{margin: 0;padding: 0;}

body {/*padding-top: 30px;padding-bottom: 10px;*/}
.required:before {content:"* ";color:red;font-weight:bold;}
.overdue:before {content:"! ";color:red;font-weight:bold;}

.pageheader, .pageFooter {background: whitesmoke;}
/*.pageFooter {position:fixed;width:100%;bottom: 0;}*/
.pageContent {padding: 10px 0;}

.with-left-border{border-left:1px dotted lightgray;}
.with-right-border{border-right:1px dotted lightgray;}

.bottom-shadow {box-shadow: 0 7px 15px -8px darkgray;border-top:1px solid darkgray;}
.top-shadow {box-shadow: 0 -7px 15px -6px darkgray;margin-top: 10px;}

.list-unstyled > li > a {color:#555;}

.inline-block {display:inline-block;}

.popover{max-width:none;}

/* navbar */
/*.navbar-default .navbar-nav>li>a {cursor: pointer;}*/
.navbar-primary .navbar { background:#9f58b5; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #501762;}
.navbar-primary .navbar .nav > li > a {color: #501762;}
/*.navbar .nav > li > a, .navbar .nav > li > a:hover {cursor: pointer;}*/
.navbar-nav > li > a, .navbar-nav > li > a:hover{cursor: pointer;}
.navbar-primary .navbar .nav > li > a:hover {color:#fff;background-color:#8e49a3;/*cursor:pointer;*/}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {cursor:pointer;} /*color:#fff;background-color: #501762;*/
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover,
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar    .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px;margin-right: 0;}

.navbar-sm { min-height:40px; } 
.navbar-sm .navbar-brand{ padding: 12px 12px;font-size: 16px;line-height: 18px; } 
.navbar-sm .navbar-nav > li > a {  padding-top: 12px; padding-bottom: 12px; line-height: 20px; }

.navbar-xs { min-height:20px; font-size: 11px;}
.navbar-xs .dropdown-menu {font-size: 11px;}
.navbar-xs .navbar-brand{ padding: 5px 5px;font-size: 12px;line-height: 12px; } 
.navbar-xs .navbar-nav > li > a {  padding-top: 4px; padding-bottom: 4px; line-height: 12px; } 

.navbar-xs .divider-vertical {height: 20px;margin: 2px 5px;}
.navbar-inverse .divider-vertical {border-left: 1px solid black;border-right: 1px solid #6D6D6D;}
.navbar-default .divider-vertical {height: 48px;margin: 1px 0;border-left: 1px solid white;border-right: 1px solid lightgray;}
.navbar-default ul>li>a>img{margin-top:-12px;margin-bottom:-8px;height:32px;width:32px;}

.navbar-inverse .dropdown-menu{background-color: #222;border-color: #080808;}
.navbar-inverse .dropdown-menu.wide{min-width: 165px;}
.navbar-inverse .dropdown-menu.short{min-width: 120px;}

.navbar-inverse .dropdown-menu >li>a, .navbar-inverse .dropdown-menu >li{color: #999;}
.navbar-inverse .dropdown-menu li.divider{background-color: #505050;}

.navbar-inverse .dropdown-menu >li>a {position:relative;}
.navbar-inverse .dropdown-menu >li>a> span.icon {position: absolute;left: 5px;font-size: 13px;top: 3px;}
.navbar-inverse .dropdown-menu >li>a {padding:3px 10px 3px 25px;cursor: pointer;}
.navbar-inverse .dropdown-menu >li>a> span.inline-badge {background-color: gray;color: white;padding: 0 5px;border-radius: 2px;font-size: 9px;margin-top: 2px;}

.menu-sm {font-size: 11px;}
.menu-md {font-size: 12px;}

.badge-small {
	display: inline-block;
	min-width: 7px;
	padding: 1px 6px 2px;
	font-size: 9px; font-weight: 700;
	color: #FFF;
	line-height: 1;
	vertical-align: top;
	white-space: nowrap;
	text-align: center;
	background-color: #990000;
	border-radius: 4px;
	margin-top: -4px;
}

.searchHeader {padding-top: 30px;padding-bottom: 10px;}
.dtlogo {margin-top: -30px;z-index: 1030;}
.dtlogo img {vertical-align: top;}

/*.searchForm {padding:10px 0 10px 30px;margin-top: 8px;margin-bottom: 8px;}*/
.searchForm {padding-left:30px;}
.searchForm .input-group {padding-bottom:5px;width: 350px;}
.search {padding:6px 15px 6px 30px;margin:3px;margin-top:0;background: url('../images/zoom-small.png') no-repeat 8px 4px;}
/*.recent-documents {padding: 4px 15px 4px 27px;margin: 3px;margin-top: 0;background: url('../images/recent.png') no-repeat 8px 4px;border-radius:4px!important;color:#747474;font-family:'FontAwesome',Helvetica;}*/
.recent-documents{margin:3px;border-radius:4px!important;color:#747474;background:#F7F7F7;}
/*.recent-documents>option{padding:0;margin:0;}*/

.modal-dialog .modal-header, .modal-dialog {padding:10px 15px;}
.modal-footer{padding: 10px 0 0 0; margin-top: 10px;}
.modal-dialog .modal-header>h4{font-weight:bold;}

.tableDiv {display: table;border-spacing: 10px;}
.rowDiv {display: table-row;}
.cellDiv {display: table-cell;}
.cellDiv.lbl {text-align: right;font-weight: bold;}

.criticalDataCompDiv {border:1px dotted lightgray;padding:10px 0 20px;}
.criticalDataCompDiv .row {padding:5px 0 0;margin:0;}
.criticalDataCompDiv label {width:15%;padding:0 5px 0 10px;text-align:right;vertical-align:middle;}
.criticalDataCompDiv input {width:35%;display:inline-block;}
.criticalDataCompDiv button {width:5%;}
.criticalDataCompDiv .dataCompHeader label {text-align:center;width:49%;}

.reportsTree{overflow:auto;font-size:11px;border:1px solid #bbb;border-radius: 4px;max-height:400px;min-height:400px;}
.truncate{display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.daterangepicker.dropdown-menu {font-size: 11px;}
.daterangepicker .ranges li {font-size: 11px;}
.daterangepicker .calendar {max-width: 200px;}
.daterangepicker .calendar th, .daterangepicker .calendar td {min-width: 27px;}

.horizontal-section .form-control {display:inline-block;}
.horizontal-section .control-label {padding-right:10px;text-align:right;}

.dataTable {
	margin:0;padding:0;
	width:100%;
	border:1px solid #aaaaaa;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.dataTable hr {margin:0;}
.dataTable table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0;padding:0;
}
.dataTable table th{
	background:-o-linear-gradient(top,#ffffff,D8D8D8);
	background:-o-linear-gradient(bottom, #ffffff 5%, #D8D8D8 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #D8D8D8) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #D8D8D8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#D8D8D8");
	background-color:#ffffff;
	border:0 solid #bbbbbb;
	text-align:left;
	border-width:0 0 1px 1px;
	font-size:13px;
	font-family:Helvetica;
	font-weight:bold;
	color:#474747;
	white-space: nowrap;
}
.dataTable table th:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.dataTable table th:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}
.dataTable table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}
.dataTable table tr:last-child td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
.dataTable table tr:nth-child(even){background-color:#ededed;}
.dataTable table tr:nth-child(odd){background-color:#ffffff;}
.dataTable table td{
	vertical-align:middle;
	border:1px solid #bbbbbb;
	border-width:0 1px 1px 0;
	/*text-align:left;*/
	padding:7px;
	font-size:11px;
	font-family:Helvetica;
	font-weight:normal;
	color:#262626;
	white-space: nowrap;
}
.dataTable table td a {color: #262626;font-weight: bold;}
/*.dataTable table td.centered{text-align:center;}*/
.dataTable table tr:hover td{
	background:-o-linear-gradient(top,#ffffff,#dadada);
	background:-o-linear-gradient(bottom, #ffffff 5%, #dadada 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dadada) );
	background:-moz-linear-gradient(center top, #ffffff 5%, #dadada 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#dadada");
	background-color:#ffffff;
}
.dataTable table tr.selected td{
	background:-o-linear-gradient(bottom, #424242 5%, #969696 100%);
	background:-o-linear-gradient(top, #424242, #969696);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #969696) );
	background:-moz-linear-gradient(center top, #424242 5%, #969696 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#424242", endColorstr="#969696");	
	background-color: #424242;
	color:#ffffff;
	text-shadow: 1px 1px 1px #333333;
}
.dataTable table th:first-child{border-width:0 0 1px 0;}
.dataTable table th:last-child{border-width:0 0 1px 1px;}
.dataTable tr:last-child td{border-width:0 1px 0 0;}
.dataTable tr td:last-child{border-width:0 0 1px 0;}
.dataTable tr:last-child td:last-child{border-width:0 0 0 0;}

.dataTable.withPagination{border-bottom-left-radius: 0;}

.skinnyTable table {/*height: initial;*/}
.skinnyTable table tr:nth-child(odd), .skinnyTable table tr:nth-child(even){background-color:#ffffff;}
.skinnyTable table td,.skinnyTable tr td:last-child,.skinnyTable tr:last-child{border:none; border-top:1px solid #bbbbbb;border-bottom:1px solid #bbbbbb;}
.skinnyTable table .tableSearchHead th{background:none;background-color:#EBEBEB;border:none;}
.skinnyTable table .tableSearchHead input {font-size:10px;border:1px solid lightgray;}


.liNotesTable, .liNotesTable table {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid lightgray;
    
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
    
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.liNotesTable table {
    width:100%;
    height:100%;
    margin:0px;padding:0px;
    border-collapse:collapse;
}
.liNotesTable thead tr th {
    background:-o-linear-gradient(bottom, #ffffff 5%, #D8D8D8 100%);
	background:-o-linear-gradient(top,#ffffff,D8D8D8);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #D8D8D8) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #D8D8D8 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#D8D8D8");
    background-color:#ffffff;

    text-align:center;
    font-size:12px;
    font-family:Helvetica;
    font-weight:bold;
    color:#474747;
    padding: 2px 4px;
}
	
.liNotesTable tr:last-child td:last-child {
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
}
.liNotesTable table thead th:first-child {
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border-top-left-radius:4px;
}
.liNotesTable table thead th:last-child {
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}
.liNotesTable tr:last-child td:first-child{
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
    border-bottom-left-radius:4px;
}
/*
.liNotesTable tr:last-child td {border-width:0px 0px 0px 0px;}
.liNotesTable tr td:last-child {border-width:0px 0px 0px 0px;}
.liNotesTable tr:last-child td:last-child {border-width:0px 0px 0px 0px;}
.liNotesTable table thead th:first-child {border-width:0px 0px 1px 0px;}
.liNotesTable table thead th:last-child {border-width:0px 0px 1px 1px;}
*/
.liNotesTable tr:hover td{
    
}
.liNotesTable tr{
    border:0;
}
.liNotesTable td, .liNotesTable th {
	border:none;
}
.liNotesTable td{
    vertical-align:middle;
    text-align:center;
    padding:4px 6px;
    font-size:11px;
    font-family:Helvetica;
    font-weight:normal;
    color:#474747;
    border-bottom:1px dotted lightgray;
}

.scrollContainer{height:195px;overflow:auto;/*clear:both;width:700px*/}
.scrollContainer .scrollTable{float:left;width:100%;white-space: nowrap;/*width:680px*/}
.scrollContainer .scrollTable thead tr{position:relative;display:block}
.scrollContainer .scrollTable tbody{display:block;height:162px;overflow:auto;width:100%}
.scrollContainer .scrollTable tbody tr{height:auto;}
.scrollContainer .scrollTable tbody tr:hover td{background:#eeeeee;}


.scrollContainer .scrollTable thead th,.scrollContainer .scrollTable tbody td{width:100px;}
.scrollContainer .scrollTable thead th+th,.scrollContainer .scrollTable tbody td+td{width:150px;}
.scrollContainer .scrollTable thead th+th+th,.scrollContainer .scrollTable tbody td+td+td{width:50px;}
.scrollContainer .scrollTable thead th+th+th+th,.scrollContainer .scrollTable tbody td+td+td+td{width:400px;text-align:left !important;}

.jstree-checked>a.jstree-clicked ,.jstree-unchecked>a.jstree-clicked,.jstree-undetermined>a.jstree-clicked{background:none;border: none;padding: 0 3px 0 1px;color: #000000;text-shadow: 1px 1px 1px #ffffff;}

/*.sm-info{margin:5px 15px;padding:3px;width:none;}*/
/*.sm-info{border-style:inset;border-radius:4px;border-width:2px;border-color:#E0E0E0;background:#F5F5F5;margin:5px 15px;padding:3px;}*/
.sm-info{border: 1px solid #bbbbbb;border-radius: 4px;box-shadow: 1px 1px 1px #A9A9A9;margin:20px 15px;padding:3px;height: 65px;}
.sm-stat {padding:0;width:100%;margin: 20px 0;text-align: center;}

/*.smallstat {border: 1px solid #bbbbbb;border-radius: 4px;box-shadow: 1px 1px 1px #A9A9A9;height: 65px;width:100%;margin: 20px 0;text-align: center;}*/
.sm-stat>span {display: inline-block;margin-top: 10px;}
.sm-stat .boxvalue {float:left;padding: 5px;width:40%;}
.sm-stat .value {font-size: 26px;font-weight: bold;}
.sm-stat .title {top: 12px;color: #C7CBD5;display: block;font-size: 9px;margin-top: 4px;}
.sm-stat .boxchart {float:left;padding: 20px 5px 15px;width:59%;}

.freq-reports {margin-bottom:0;}
.freq-reports img {border-right:1px solid lightgray; padding-right:10px;}
.freq-reports span {padding-left:10px;}

.btn-circle {width:30px;height:30px;text-align:center;padding:4px 0;font-size:16px;line-height:1.42;border-radius:15px;color:#696969;}
.wf-note {padding-left: 20px;}
.wf-note .glyphicon{color: #808080;}
.wf-note .note-text{padding-left: 6px;white-space: normal;}

.dataTable table.xtend-zebra tr:nth-child(4n+1),
.dataTable table.xtend-zebra tr:nth-child(4n+1):hover td,
.dataTable table.xtend-zebra tr:nth-child(4n+2),
.dataTable table.xtend-zebra tr:nth-child(4n+2):hover td
{background: #FFFFFF;}
.dataTable table.xtend-zebra tr:nth-child(4n+3), 
.dataTable table.xtend-zebra tr:nth-child(4n+3):hover td,
.dataTable table.xtend-zebra tr:nth-child(4n),
.dataTable table.xtend-zebra tr:nth-child(4n):hover td
{background: #EDEDED;}
.new-note input {display: inline-block;height: 22px;vertical-align: middle;color: #555555;border: 1px solid #CCCCCC;width: auto;padding: 3px 3px;font-size: 11px;}

.titleDocs {
	padding: 4px;
	margin-top: 10px;
}

.titleDocs ul {
	list-style: none;
	display: block;
}
.titleDocs ul li {
	border-bottom: 1px dotted #D6D6D6;
	line-height: 20px;
	padding-left: 10px;
}
.titleDocs ul li:hover {
	background-color:#F7F7F7;
}
.titleDocs ul li a {
	color: #666;
	text-decoration: none;
}

.placeholderDiv{border: 5px dashed lightgray; height:500px; width:100%;}

footer{margin-top: 10px;}
div.footer-secondary {
	height: 51px;
	width: 960px;
	margin: 0 auto;
	/*background-color: #e5e7e8;*/
	font-family: 'OpenSans', Arial, sans-serif;
}

div.footer-secondary div.copyright {
	float: left;
	height: 40px;
	color: #797b82;
	padding: 10px 0 0 10px;
}
.copyright-text {
	font-size: 11px;
}
div.footer-secondary li {
	list-style: none;
}
.footerIcon-badges-container li {
	float: left;
}
.patent-text {
	font-size: 9px;
}
.footerIcon-badges-container {
	height: 51px;
	float: right;
	margin: 0 10px 0 0;
}

.ssltext {color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0; padding:0;}