/*@import url(http://fonts.googleapis.com/css?family=Inconsolata);*/
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400; /*normal*/
  src: url('fonts/Inconsolata-Regular.ttf') format('truetype'), url('fonts/Inconsolata-Regular.woff') format('woff');
}
a {
	outline-style: none;
}
.panelSliderContainer {
	position: relative;
	height:90px;   /*initial value - overwritten by script*/
	text-align: left;
	margin:0 24px;
	border: 1px solid lightgray;
	padding:5px;
	border-radius: 0 0 5px 5px;
	background-color: #F4F4F4;
	box-sizing: content-box;
}
.panelSliderContainer .scrollclip {
	position: absolute;
	clip: rect(0px,797px,100px,0px);  /*initial value - overwritten by script*/
}
.panelSliderContainer .scrollstrip {
	position:absolute;
	left:0px;
	width:1500px;   /*initial value - overwritten by script*/
}
.panelSliderContainer .div_scrollarrow {
	position:absolute;
	top:-1px;
	width:24px;
	height:26px;
	font-size: 0px;
	cursor: pointer;
	border: 1px solid #D3D3D3;
	background-color: #F4F4F4;
	background-image: url(images/arrows.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
/*.panelSliderContainer .div_scrollarrow:hover  {
	background-position-y: -24px;
}
.panelSliderContainer .div_scrollarrow.disabled  {
	background-position-y: -48px;
}*/
.panelSliderContainer .div_scrollarrow.disabled:hover {
	cursor: default;
}
.panelSliderContainer .scroll-left {
	left:-24px;
	border-radius: 5px 0 0 5px;
	background-position: 0 0;
}
.panelSliderContainer .scroll-left:hover  {
    background-position: 0 -24px;
}
.panelSliderContainer .scroll-left.disabled  {
    background-position: 0 -48px;
}
.panelSliderContainer .scroll-right {
	right:-24px;
	border-radius: 0 5px 5px 0;
	background-position: -24px 0;
}
.panelSliderContainer .scroll-right:hover  {
    background-position: -24px -24px;
}
.panelSliderContainer .scroll-right.disabled  {
    background-position: -24px -48px;
}
.panelSliderContainer .div_scrollarrow img {
	border:0px;
}
.panelSliderContainer .scrollstrip .item {
	position:relative;
	float:left;
	border: 1px solid gray;
	-moz-box-shadow: 1px 1px 1px #AAA;
	-webkit-box-shadow: 1px 1px 1px #AAA;
	box-shadow: 1px 1px 1px #AAA;
}
.panelSliderContainer .scrollstrip .item.selected {
	-moz-box-shadow: inset 1px 1px 1px #BBB;
	-webkit-box-shadow: inset 1px 1px 1px #BBB;
	box-shadow: inset 1px 1px 1px #BBB;
	background-color: #F9F9F9;
}

.item {
	width:135px;
	height: 84px;
	text-align: left;
	margin:2px 4px;
	padding:2px;
	text-decoration:none; 
	line-height:10px;
	font: normal 10px Arial, Helvetica, sans-serif;
	color:#303030;
	background-color: white;
}
.item .item-title {
	display: block;
    vertical-align: middle;
	height:15px;
	width:97%;
	margin:auto;
	border-bottom: 1px dotted #D3D3D3;
	padding:2px;
	font: normal 12px "Inconsolata", "Courier New", Courier, monospace;
}
.item .item-detail{
	margin:2px 0;
	padding:2px;
	vertical-align: middle;
	text-transform: capitalize;
}
.item .item-status-elm {
	float: left;
	width: 30%;
	text-align: center;
	margin: 2px;
	font-size: 8px;
}
.item .item-close {
	position:absolute;
	top:0;
	right:0;
	border:0;
	margin:0;
	padding:0;
	background: url(images/close16.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius:7px;
	box-sizing: content-box;
}
.item .item-close:hover {
	background-position-y: -16px;
	border: 1px solid rgba(255, 0, 0, 0.4);
}

.title-paper:before{
    content: url(images/title-paper.png);
}
.title-paper{
	vertical-align:top;
}
.title-electronic:before{
    content: url(images/title-electronic.png);
}
.title-electronic{
	vertical-align:top;
}
.title-archived:before{
    content: url(images/title-archived.png);
}
.title-unarchived:before{
    content: url(images/title-unarchived.png);
}
.lien-status {
	border-radius: 7px;
	border: 1px solid #008000;
	padding: 2px 4px;
	text-align: center;
	color: #008000;
}
.lien-status.perfected:before {
	content: 'P';
}
.lien-status.perfected {
	border-color: green;
	color: green;
}
.lien-status.unmatched:before {
	content: 'U';
}
.lien-status.unmatched {
	border-color: red;
	color: red;
}
.lien-status.matched:before {
	content: 'M';
}
.lien-status.matched {
	border-color: orange;
	color: orange;
}
.lien-status.released:before {
	content: 'R';
}
.lien-status.released {
	border-color: gray;
	color: gray;
}
.veh-type:before {
	content: '';
	display: inline-block;
}
.veh-type{
    margin: 0 auto;
}
.veh-type.auto:before {
	background: url('images/vehicles_sprite.png') no-repeat -259px -117px;
	width: 21px;
	height: 14px;
}
.veh-type.boat:before {
	background: url('images/vehicles_sprite.png') no-repeat -188px -45px;
	width: 27px;
	height: 16px;
}
.veh-type.trailer:before {
	background: url('images/vehicles_sprite.png') no-repeat -76px -9px;
	width: 30px;
	height: 15px;
}
.veh-type.motorcycle:before {
	background: url('images/vehicles_sprite.png') no-repeat -42px -81px;
	width: 20px;
	height: 15px;
}
.veh-type.mobilehome:before {
	background: url('images/vehicles_sprite.png') no-repeat -186px -9px;
	width: 23px;
	height: 14px;
}
.veh-type.bus:before {
	background: url('images/vehicles_sprite.png') no-repeat -114px -10px;
	width: 24px;
	height: 13px;
}
.veh-type.motorhome:before {
	background: url('images/vehicles_sprite.png') no-repeat -222px -117px;
	width: 23px;
	height: 15px;
}
.veh-type.dumptruck:before {
	background: url('images/vehicles_sprite.png') no-repeat -113px -117px;
	width: 24px;
	height: 18px;
}
.veh-type.other:before {
	background: url('images/vehicles_sprite.png') no-repeat -227px -45px;
	width: 15px;
	height: 17px;
}