<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="panelSlider.css"></link>
</head>
<body>
	<div ng-app="myApp" ng-controller="Controller">
		<div class="row col-xs-offset-1">
		<panel-slider items="collateral.items">
			<div class="item" ng-repeat="item in collateral.items">
				<span class="item-title">{{item.vin}}</span>
				<div class="item-detail"><span>{{item.year}} {{item.make}} {{item.model}}</span></div>
				<div class="item-detail"><span class="title-{{item.titleType}}">   {{item.titleState}} {{item.titleNumber}}</span></div>
				<div class="item-status">
					<div class="item-status-elm"><span class="lien-status {{item.lienStatus}}"></span></div>
					<div class="item-status-elm"><span class="veh-type {{item.collateralType}}"></span></div>
					<div class="item-status-elm"><span class="{{item.archive?'title-archived':'title-unarchived'}}"></span></div>
				</div>
				<div class="item-close"></div>
			</div>
		</panel-slider>
		</div>
	</div>
	
	<footer>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>	    		
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>        

		<!-- script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script-->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

		<script type="text/javascript" src="panelSlider.js"></script>
		<script type="text/javascript" src="ngPanelSlider2.js"></script>
		<!-- script type="text/javascript">
			$(document).ready(function() {
				$("#container_auto").panelSlider();
			});
		</script-->
	</footer>
</body>
</html>