<div ng-controller="AccountController">
	<div class="row">
		<ul class="nav nav-tabs">
		  <li ui-sref-active="active"><a ui-sref="auth.account.loan" data-toggle="tab">Loan: {{accountId}}</a></li>
		  <li ui-sref-active="active" class="dropdown">
		      <!-- a ui-sref="auth.account.title" data-toggle="tab">Title Information</a-->
		      <a data-toggle="dropdown" role="button" aria-expanded="false">Title <span class="caret"></span></a>
		      <ul class="dropdown-menu" role="menu">
		          <li role="presentation" ng-repeat="lcoll in loan.loanCollaterals"><a role="menuitem" ui-sref="auth.account.title({vin:lcoll.vin})">{{lcoll.vin}}</a></li>
              </ul>
		  </li>
		  <li ui-sref-active="active"><a ui-sref="auth.account.workflow" data-toggle="tab">Workflow</a></li>
		  <li ui-sref-active="active"><a ui-sref="auth.account.lieninquiry" data-toggle="tab">Lien Inquiry</a></li>
		  <li ui-sref-active="active"><a ui-sref="auth.account.attachments" data-toggle="tab">View/Edit 5 Attachment(s)</a></li>
		  <li ui-sref-active="active"><a ui-sref="auth.account.documents" data-toggle="tab">DMV Documents</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content" id="tab-content">
		    <div ui-view id="tab-content-view"></div>
		    <!--  class="tab-pane fade in" -->
		</div>
		<!-- /tab panes -->
	</div>
	<!-- notes -->
	<div class="row">
		<fieldset><legend>Notes</legend>
		<div class="col-xs-6 col-xs-offset-3"><small><a href="#">Print as PDF</a> - <a href="#">Print as Text</a></small></div>		
		<div class="col-xs-6 col-xs-offset-3 scrollContainer">
			<table class="liNotesTable scrollTable">				
				<thead>
					<tr>
						<th style="cursor: pointer;">Date <span class="caret"></span></th>
						<th>User</th>
						<th>Urgent?</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
					<tr>
						<td>8/14/13 9:11 AM</td>
						<td>SYSTEM</td>
						<td><i class="fa fa-exclamation-circle text-danger"></td>
						<td>Some Note</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-6 col-xs-offset-3">
			<div class="form-group col-xs-9"><label for="newNoteText" class="control-label">Enter a new note:</label><textarea id="newNoteText" name="newNoteText" rows="2" class="form-control"></textarea></div>
			<div class="form-group col-xs-3">
			  <div class="checkbox"><label style="font-weight:700;"><input type="checkbox" name="newNoteUrgent" id="newNoteUrgent" style="margin-top:2px;"> Urgent</label></div>
			  <div><a href="#" class="btn btn-sm btn-default"><i class="fa fa-floppy-o"></i> Save Note</a></div>
			</div>
		</div>
		</fieldset>
	</div>
	<!-- /notes -->
</div>