<div ng-controller="AttachmentsController" id="attachments-details" >
<fieldset><legend>Attachments</legend>
	<div class="btn-group">
    	<a ng-click="addAttachment()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add Attachment</a>
    </div>                
	<div masonry>
	    <div class="masonry-brick" ng-repeat="attachment in attachments">
	    	<div>
	        	<img ng-src="{{attachment.thumbSrc}}" ng-click="viewAttachment($index)" alt="attachment" style="margin: 10px;">
	        	<a class="close" ng-click="removeAttachment($index)" style="margin-left: -8px;margin-top: 5px;">&times;</a>
	        </div> 
	    </div>
	</div>
	<modal title="attachmentModalTitle" visible="showAttachmentModal">
       <div>
       		<img ng-src="{{selectedAttachment.src}}" alt="attachment" style="max-width:540px;">
       </div>
    </modal>
</fieldset>
</div>