<div ng-controller="FindTitleController">
	<link rel="stylesheet" type="text/css" href="lib/daterangepicker/daterangepicker-bs3.css" />
	<link rel="stylesheet" type="text/css" href="lib/daterangepicker/philly-theme.css" />
	<div class="row">
		<form>
			<fieldset><legend>Find Title Options</legend>
			<div class="row">
				<div class="form-group col-xs-3">
					<label class="control-label" for="orgs">Organizations</label>
					<select id="orgs" name="orgs" class="form-control" multiple="multiple" size="5">
					  <option value="1">4499 - USAA</option>
					  <option value="2">1811 - VINtek Demo</option>
					  <option value="3">2685 - Springleaf Financial #1</option>
					  <option value="4">2096 - PATRIOT FEDERAL CU</option>
					</select>
				</div>
				<div class="col-xs-9">
					<div class="form-group col-xs-3">
						<label class="control-label" for="archive">Search By</label>
						<select name="searchby" id="searchby" class="form-control">				
							<option value="optTitleNumber">Title Number</option>
							<option value="optTitleState">Title State</option>
							<option value="optApplicationID">Account ID</option>
							<option value="optMediaType">Media Type</option>
							<option value="optLHName">Lien Holder Name</option>
							<option value="optOwnerName">Registered Owner</option>
							<option value="optOwnerAddress">Registered Owner Address</option>
							<option value="optOwnerCity">Registered Owner City</option>
							<option value="optOwnerState">Registered Owner State</option>
							<option value="optOwnerZip">Registered Owner Zip</option>																			
							<option value="optVIN">VIN</option>
							<option value="optMake">Vehicle Make</option>
							<option value="optModel">Vehicle Model</option>
							<option value="optYear">Vehicle Year</option>
						</select>
					</div>
					<div class="form-group col-xs-3">
						<label class="control-label" for="archive">Search For</label>
						<input type="text" class="form-control"/>
					</div>
					
					<div class="form-group col-xs-6">				  
					  <div class="col-xs-4" style="padding-left:0;padding-right:0;">
						<label class="control-label" for="dateField">Limit by date</label>
						<select name="dateField" id="dateField"  class="form-control">				
							<option value="optReceived">Received Date</option>
							<option value="optIssue">Issue Date</option>
							<option value="optMatch">Match Date</option>				
						</select>				
					  </div>
					  <div class="col-xs-8">
						<label class="control-label" for="dateRange">Date Range</label>
						<div class="input-group">
							<input type="text" id="dateRange" name="dateRange" class="form-control date-range"/><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-xs-9">
					<div class="form-group col-xs-3">
						<label class="control-label" for="archive">Archive Status</label>
						<select id="archive" name="archive" class="form-control">
						  <option value="optBoth">Both</option>
						  <option value="optActive">Active Titles</option>
						  <option value="optArchived">Archived Titles</option>
						</select>
					</div>			
					<div class="form-group col-xs-3">
						<label class="control-label" for="sortBy">Sort By</label>					
						<select name="sortby" id="sortby"class="form-control">
							<option value="optOrgID">OrgID</option>
							<option value="optTitleState">Title State</option>
							<option value="optTitleNumber">Title Number</option>
							<option value="optVIN">VIN</option>	
							<option value="optApplicationID">Account ID</option>
							<option value="optOwnerName">Registered Owner</option>
							<option value="optReceiveDate">Receive Date</option>
						</select>
					</div>
					<div class="form-group col-xs-3">
						<div>
						  <div class="radio">
							<label for="sortDirection-0"><input type="radio" name="sortDirection" id="sortDirection-0" value="1" checked="checked">Descending</label>
						  </div>
						  <div class="radio">
							<label for="sortDirection-1"><input type="radio" name="sortDirection" id="sortDirection-1" value="2">Ascending</label>
						  </div>
						</div>
					</div>
				</div>
			</div>			
			</fieldset>

			<fieldset><legend>Title Status</legend>
			<div class="form-group col-xs-12">
				<div class="col-xs-4">
					<select id="selWkFlowStatus" name=id="selWkFlowStatus" class="form-control">
						<option value="none">None</option>
						<option value="">User Defined</option>
						<option value="10">10 - Maintenance Release State to State</option>
						<option value="130">130 - Submitted</option>
						<option value="15">15 - Documents Discrepant</option>
						<option value="2LH">2LH - 2nd Lien Filing Req</option>
						<option value="300">300 - 1st Title App to Member</option>
						<option value="300B">300B - Title App Prepared and directed to TPD</option>
					</select>
				</div>
				<div class="col-xs-4">
					<input id="txtWkFlowStatus" name="txtWkFlowStatus" type="text" placeholder="Workflow Status" class="form-control input-md">
				</div>
			</div>
			</fieldset>
			<hr/>
			<div class="text-center">
				<button id="btnSearch" name="btnSearch" class="btn btn-primary">Search</button>
			</div>
		</form>
	</div>
	
	<div class="row clearfix" style="padding:20px 0;">
		<div class="col-xs-12 column">
			<div class="progress progress-striped hidden">
				<div class="progress-bar progress-success">
				</div>
			</div>
			<fieldset><legend>Results</legend>
			<div class="dataTable withPagination">
			<table class="table-condensed">
				<thead>
					<tr>
						<th>OrgID</th>
						<th>AccountID</th>
						<th>Title State</th>
						<th>Title Number</th>
						<th>VIN</th>
						<th>Registered Owner</th>
						<th>Received Date</th>
						<th>ELT</th>
						<th>Year</th>
						<th>Make</th>
						<th>Model</th>
						<th>Archive</th>
					</tr>
				</thead>
				<tbody>						
					<tr><td>4499</td>	<td><a ui-sref="account.title">1037050398</a></td>	<td>CA</td>	<td>ZENDWG</td>	<td>1B7GL22Z81S119093</td>	<td>WARREN,BRANDON</td>	<td>41676</td>	<td>Y</td>	<td>2001</td>	<td>DODG</td>	<td>PK</td>	<td>N</td></tr>
					<tr><td>4499</td>	<td><a ui-sref="account.title">1041100999</a></td>	<td>WA</td>	<td>WW07710</td>	<td>1C6RR7MT1ES250120</td>	<td>NOYES,JACK W</td>	<td>41692</td>	<td>Y</td>	<td>2014</td>	<td>RAM</td>	<td>1500 4X4</td>	<td>N</td></tr>
					<tr><td>4499</td>	<td><a ui-sref="account.title">1040165613</a></td>	<td>WA</td>	<td>WSU0993</td>	<td>WDCGG8HB6CF814115</td>	<td>DAWSON,RICHARD A</td>	<td>41692</td>	<td>Y</td>	<td>2012</td>	<td>MERZ</td>	<td>GLK350</td>	<td>N</td></tr>
					<tr><td>4499</td>	<td><a ui-sref="account.title">1005306368</a></td>	<td>WA</td>	<td>WE00864</td>	<td>1FTFW1ET3DFD84635</td>	<td>SUNDEM,CHAD R</td>	<td>41692</td>	<td>Y</td>	<td>2013</td>	<td>FORD</td>	<td>F150</td>	<td>N</td></tr>
					<tr><td>4499</td>	<td><a ui-sref="account.title">1032494880</a></td>	<td>WA</td>	<td>W350WSU</td>	<td>2GKFLTEK7D6113202</td>	<td>QUINTANA,ILEA MAY</td>	<td>41678</td>	<td>Y</td>	<td>2013</td>	<td>GMC</td>	<td>TERRAIN</td>	<td>N</td></tr>
					<tr><td>4499</td>	<td><a ui-sref="account.title">1032494880</a></td>	<td>NY</td>	<td>VTK115449052</td>	<td>4S4BP62C977311308</td>	<td>BURKE,JEREMY J</td>	<td>41691</td>	<td>Y</td>	<td>2007</td>	<td>SUBAR</td>	<td></td>	<td>N</td></tr>
					<tr class="selected"><td>4499</td>	<td><a ui-sref="account.title">1033621085</a></td>	<td>NY</td>	<td>VTK115449051</td>	<td>2T3DFREV5DW107362</td>	<td>J W &J M BACHER/TST J W &J M BACHER/STL</td>	<td>41691</td>	<td>Y</td>	<td>2013</td>	<td>TOYOT</td>	<td></td>	<td>N</td></tr>
					<tr><td>4499</td>	<td><a ui-sref="account.title">1038934913</a></td>	<td>NY</td>	<td>VTK115449046</td>	<td>WBA3B5C51EP540917</td>	<td>CUEVAS-VARGAS,LIANA</td>	<td>41691</td>	<td>Y</td>	<td>2014</td>	<td>BMW</td>	<td></td>	<td>N</td></tr>
				</tbody>
			</table>
			</div>
			<ul class="pagination pagination-sm">
			  <li><a href="#">&laquo;</a></li>
			  <li><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>
			</fieldset>
		</div>
	</div>
	<script type="text/javascript" src="lib/daterangepicker/moment.js"></script>
	<script type="text/javascript" src="lib/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.date-range').daterangepicker(
				{ranges: {
					 'Today': [moment(), moment()],
					 'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
					 'Last 7 Days': [moment().subtract('days', 6), moment()],
					 'Last 30 Days': [moment().subtract('days', 29), moment()],
					 'This Month': [moment().startOf('month'), moment().endOf('month')],
					 'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
					},
					startDate: moment().subtract('days', 29),
					endDate: moment()
				},
				function(start, end) {
					$(this).val(start.format('M/D/YYYY') + ' - ' + end.format('M/D/YYYY'));
				}
			);
		});
	</script>	
</div>