<!-- link rel="stylesheet" type="text/css" media="screen" href="lib/ngPanelSlider/panelSlider.css"></link-->
<!-- link rel="stylesheet" type="text/css" media="screen" href="lib/ngDatePicker/datepicker.css"></link-->
<div class="row" ng-controller="LoanController" id="loan-details">
    <form>
        <div class="row"><div class="pull-right"><label class="control-label">Loan Created:</label> <p class="form-control-static inline-block">{{loan.entryDate | date:'MM/dd/yyyy HH:mm:ss'}} by {{loan.entryUser}}</p></div></div>
        
        <div class="row">
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-print"></span> Print <span class="caret"></span></button>
              <ul class="dropdown-menu menu-sm text-left" role="menu">
                <li><a href="#">Print as PDF</a></li>
                <li><a href="#">Print as Text</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="fa fa-hand-o-right"></span> Issue Transaction <span class="caret"></span></button>
              <ul class="dropdown-menu menu-sm text-left" role="menu">
                <li><a href="#">NY Lien Filing</a></li>
                <li><a href="#">NY Amend Lien Filing</a></li>
              </ul>
            </div>
            <a href="#" class="btn btn-sm btn-default"><span class="fa fa-floppy-o"></span> Save Record</a>
            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-refresh"></span> Refresh Record</a>
            <!-- a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add Collateral</a-->
            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus-sign"></span> Delete Record</a>
           </div>
        </div>
        <br/>
        
        <fieldset><legend>Account Detail</legend>
            <div class="row col-xs-offset-1">
                <div class="form-group col-xs-3"><label for="appId" class="control-label required">Account ID</label><input type="text" name="appId" id="appId" class="form-control" required ng-model="loan.applicationID"></div>
                <div class="form-group col-xs-3"><label for="orgsLoan" class="control-label">Organization</label><select name="orgsLoan" id="orgsLoan" class="form-control" ng-model="loan.organizationID" ng-options="org.id as (org.orgId + ' - ' + org.name) for org in orgs"></select></div>
                <div class="form-group col-xs-3"><label for="dealerId" class="control-label">Dealer or Previous Lienholder</label><input type="text" name="dealerId" id="dealerId" class="form-control" ng-model="loan.dealerID"></div>
            </div>
            <div class="row col-xs-offset-1">
                <div class="form-group col-xs-3"><label for="custom1" class="control-label">Member Number</label><input type="text" name="custom1" id="custom1" class="form-control"></div>
                <div class="form-group col-xs-3"><label for="custom2" class="control-label">Effective Date</label><input type="date" name="custom2" id="custom2" class="form-control"></div>
                <div class="form-group col-xs-3"><label for="custom3" class="control-label">Proposed Title State</label><input type="text" name="custom3" id="custom3" class="form-control"></div>
                <div class="form-group col-xs-3"><label for="custom4" class="control-label">Title County</label><input type="text" name="custom4" id="custom4" class="form-control"></div>
            </div>
        </fieldset>
        
        <fieldset><legend>Loan Information</legend>
        <div class="row col-xs-offset-1">
            <div class="form-group col-xs-2"><label for="loanType" class="control-label">Type</label><select name="loanType" id="loanType" class="form-control" ng-model="loan.loanType" ng-options="type.id as type.label for type in constants.loanTypes"></select></div>

			<div class="form-group col-xs-3"><label for="loanStart" class="control-label required">Start</label>
			  <!-- input type="date" name="loanStart" id="loanStart" class="form-control" required ng-model="loan.loanStart | date:'MM/dd/yyyy'"-->
			  <div class="input-group">
                 <input type="text" name="loanStart" id="loanStart" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="loan.loanStart" is-open="loanStartCalendarOpen" ng-required="true"/>
                 <span class="input-group-addon" ng-click="openLoanStartDateCalendar($event)"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
            
            <div class="form-group col-xs-3"><label for="loanEnd" class="control-label">End</label>
				<div class="input-group">
					<input type="text" name="loanEnd" id="loanEnd" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="loan.loanEnd" is-open="loanEndCalendarOpen"/>
					<span class="input-group-addon" ng-click="openLoanEndDateCalendar($event)"><i class="fa fa-calendar"></i></span>
				</div>
            </div>
            <div class="form-group col-xs-2"><label for="loanBalance" class="control-label">Balance</label><input type="number" name="loanBalance" id="loanBalance" class="form-control" ng-model="loan.loanBalance" ng-pattern="currencyPattern"/></div>
            <div class="form-group col-xs-2"><label for="loanAmount" class="control-label">Loan Amount</label><input type="text" name="loanAmount" id="loanAmount" class="form-control" ng-model="loan.loanAmount" ng-pattern="currencyPattern"></div>
        </div>
        </fieldset>


        <fieldset><legend>Borrower/Lessee</legend>
        <div class="row">
            <div class="col-xs-4 horizontal-section" style="padding-top: 20px;padding-left: 2px;">
                <div class="form-group" style="margin-bottom:5px;"><label for="ownerType" class="control-label" style="width:35%;">Owner Type</label><select name="ownerType" id="ownerType" class="form-control" style="width:65%;" ng-model="loan.ownerType" ng-options="type.id as type.label for type in constants.ownerTypes"></select></div>
                <div class="form-group" style="margin-bottom:5px;"><label for="ownerName" class="control-label required" style="width:35%;">Borrower(s)</label><input type="text" name="ownerName" id="ownerName" class="form-control" style="width:65%;" required="required" ng-model="loan.ownerName"></div>
                <div class="form-group" style="margin-bottom:5px;"><label for="coOwner1Name" class="control-label" style="width:35%;">(2)</label><input type="text" name="coOwner1Name" id="coOwner1Name" class="form-control" style="width:65%;" ng-model="loan.coOwnerName1"></div>
                <div class="form-group" style="margin-bottom:5px;"><label for="coOwner2Name" class="control-label" style="width:35%;">(3)</label><input type="text" name="coOwner2Name" id="coOwner2Name" class="form-control" style="width:65%;" ng-model="loan.coOwnerName2"></div>
                <div class="form-group" style="margin-bottom:5px;"><label for="coOwner3Name" class="control-label" style="width:35%;">(4)</label><input type="text" name="coOwner3Name" id="coOwner3Name" class="form-control" style="width:65%;" ng-model="loan.coOwnerName3"></div>
            </div>
            <div class="col-xs-8 horizontal-section">
                <div class="row">
                    <div class="form-group col-xs-5"><label for="ownerAdd1" class="control-label">Address</label><input type="text" name="ownerAdd1" id="ownerAdd1" class="form-control" ng-model="loan.ownerAddress1"><span class="help-block">Address Line 1</span></div>
                    <div class="form-group col-xs-4"><label for="ownerAdd2" class="control-label">&nbsp;</label><input type="text" name="ownerAdd2" id="ownerAdd2" class="form-control" ng-model="loan.ownerAddress2"><span class="help-block">Line 2</span></div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4"><input type="text" name="ownerCity" id="ownerCity" class="form-control" ng-model="loan.ownerCity"><span class="help-block">City</span></div>
                    <div class="form-group col-xs-3"><select name="ownerState" id="ownerState" class="form-control" ng-model="loan.ownerState" ng-options="state.code as state.name for state in constants.states"></select><span class="help-block">State</span></div>
                    <div class="form-group col-xs-2"><input type="text" name="ownerZip" id="ownerZip" class="form-control" ng-model="loan.ownerZip"><span class="help-block">Zip</span></div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <div class="input-group">
                          <input type="tel" name="ownerPhone" id="ownerPhone" class="form-control" placeholder="(xxx) xxx-xxxx" ng-model="loan.ownerPhone">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="ownerPhoneType" id="ownerPhoneType"><i class="{{constants.phoneTypes[loan.ownerPhoneType].icon}}" style="padding-right: 5px;"></i>{{constants.phoneTypes[loan.ownerPhoneType].label}} <span class="caret"></span></button>
                            <ul class="dropdown-menu menu-md pull-right">
                            	<li ng-repeat="phoneType in constants.phoneTypes | filter:{id: '!'+loan.ownerPhoneType}"><a ng-click="selectPhoneType(phoneType)"><i class="{{phoneType.icon}}" style="padding-right: 10px;"></i>{{phoneType.label}}</a></li>
                            </ul>
                          </div>
                        </div>
                        <span class="help-block">Primary Phone</span>
                    </div>
                    
                    <div class="form-group col-xs-4">
                        <div class="input-group">
                          <input type="tel" name="ownerPhone2" id="ownerPhone2" class="form-control" placeholder="(xxx) xxx-xxxx" ng-model="loan.ownerPhone2">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="ownerPhone2Type" id="ownerPhone2Type"><i class="{{constants.phoneTypes[loan.ownerPhone2Type].icon}}" style="padding-right: 5px;"></i>{{constants.phoneTypes[loan.ownerPhone2Type].label}} <span class="caret"></span></button>
                            <ul class="dropdown-menu menu-md pull-right">
                            	<li ng-repeat="phoneType in constants.phoneTypes | filter:{id: '!'+loan.ownerPhone2Type}"><a ng-click="selectPhone2Type(phoneType)"><i class="{{phoneType.icon}}" style="padding-right: 10px;"></i>{{phoneType.label}}</a></li>
                            </ul>
                          </div>
                        </div>
                        <span class="help-block">Secondary Phone</span>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>


        <fieldset>
        <legend>Collateral Information <a href="#" class="btn btn-sm btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add Collateral</a></legend>
        <div class="row col-xs-offset-1">
			<panel-slider items="loan.loanCollaterals" class="col-xs-10">
				<div class="item" ng-repeat="item in loan.loanCollaterals" ng-click="selectCollateral($index)" ng-class="{selected: $index==selectedCollateralIndex}">
					<span class="item-title">{{item.vin}}</span>
					<div class="item-detail"><span>{{item.year}} {{item.make.toLowerCase()}} {{item.model.toLowerCase()}}</span></div>
					<div class="item-detail"><span class="{{constants.mediaTypes[item.loanTitles[0].title.mediaType].class}}">   {{item.loanTitles[0].title.titleState}} {{item.loanTitles[0].title.titleNumber}}</span></div>
					<div class="item-status">
						<div class="item-status-elm"><span class="lien-status {{(constants.titleStatuses | filter: {id: item.loanTitles[0].title.titleStatus})[0].class}}"></span></div>
						<div class="item-status-elm"><span class="veh-type {{(constants.collateralTypes | filter: {id: item.collateralType})[0].class}}"></span></div>
						<div class="item-status-elm"><span class="{{item.archive?'title-archived':'title-unarchived'}}"></span></div>
					</div>
					<div class="item-close" ng-click="deleteItem($index)"></div>
				</div>
			</panel-slider>
		</div>
        <!-- div class="row col-xs-offset-1">
            <div class="col-xs-10 panelSliderContainer" id="collateralSlider">
                <div class="scrollclip">
                    <div class="scrollstrip">
                    
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2004 Mercedes Babylon</span></div>
                            <div class="item-detail"><span class="title-paper">   PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status perfected"></span></div>
                                <div class="item-status-elm"><span class="veh-type auto"></span></div>
                                <div class="item-status-elm"><span class="title-archived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>1982 Nissan Sentra</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status unmatched"></span></div>
                                <div class="item-status-elm"><span class="veh-type boat"></span></div>
                                <div class="item-status-elm"><span class="title-unarchived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>1959 Lexus Nexus</span></div>
                            <div class="item-detail"><span class="title-electronic">    NY F100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status matched"></span></div>
                                <div class="item-status-elm"><span class="veh-type trailer"></span></div>
                                <div class="item-status-elm"><span class="title-unarchived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2001 Audi Volante</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status released"></span></div>
                                <div class="item-status-elm"><span class="veh-type motorcycle"></span></div>
                                <div class="item-status-elm"><span class="title-archived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>1985 Acura Colpa</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status unmatched"></span></div>
                                <div class="item-status-elm"><span class="veh-type mobilehome"></span></div>
                                <div class="item-status-elm"><span class="title-archived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2001 Audi Volante</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status released"></span></div>
                                <div class="item-status-elm"><span class="veh-type bus"></span></div>
                                <div class="item-status-elm"><span class="title-unarchived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>          
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2001 Audi Volante</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status unmatched"></span></div>
                                <div class="item-status-elm"><span class="veh-type motorhome"></span></div>
                                <div class="item-status-elm"><span class="title-archived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2001 Audi Volante</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status released"></span></div>
                                <div class="item-status-elm"><span class="veh-type dumptruck"></span></div>
                                <div class="item-status-elm"><span class="title-archived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2001 Audi Volante</span></div>
                            <div class="item-detail"><span class="title-electronic">    NY F100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status matched"></span></div>
                                <div class="item-status-elm"><span class="veh-type other"></span></div>
                                <div class="item-status-elm"><span class="title-unarchived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2001 Audi Volante</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status released"></span></div>
                                <div class="item-status-elm"><span class="veh-type motorcycle"></span></div>
                                <div class="item-status-elm"><span class="title-archived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>
                        <div class="item">              
                            <span class="item-title">1FALP62W4WH128703</span>
                            <div class="item-detail"><span>2001 Audi Volante</span></div>
                            <div class="item-detail"><span class="title-electronic">    PA T100202A</span></div>
                            <div class="item-status">
                                <div class="item-status-elm"><span class="lien-status unmatched"></span></div>
                                <div class="item-status-elm"><span class="veh-type boat"></span></div>
                                <div class="item-status-elm"><span class="title-unarchived"></span></div>
                            </div>
                            <div class="item-close"></div>
                        </div>          
                    </div>
                </div>
                <div class="div_scrollarrow scroll-left disabled"></div><!- img src="images/blank.png"/->
                <div class="div_scrollarrow scroll-right"></div><!- img src="images/blank.png"/->
            </div>                      
        </div-->
        <br/>
        <div class="row col-xs-offset-1">
        	<div class="col-xs-9">
	            <div class="row">
	                <div class="form-group col-xs-4"><label for="collVin" class="control-label required">VIN</label><input type="text" name="collVin" id="collVin" class="form-control" ng-model="selectedCollateral.vin" required="required"></div>
	                <div class="form-group col-xs-4 col-xs-offset-4"><label for="coll1Start" class="control-label">Start Date</label>
						<div class="input-group">
							<input type="text" name="collStart" id="collStart" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="selectedCollateral.startDate" is-open="collStartCalendarOpen"/>
							<span class="input-group-addon" ng-click="openCollStartDateCalendar($event)"><i class="fa fa-calendar"></i></span>
						</div>
	                </div>	            
	            </div>
	            <div class="row">
	                <div class="form-group col-xs-4"><label for="collYear" class="control-label">Year</label><input type="text" name="collYear" id="collYear" class="form-control" size="5" ng-model="selectedCollateral.year"></div>
	                <div class="form-group col-xs-4"><label for="collMake" class="control-label">Make</label><input type="text" name="collMake" id="collMake" class="form-control" ng-model="selectedCollateral.make"></div>
	                <div class="form-group col-xs-4"><label for="collModel" class="control-label">Model</label><input type="text" name="collModel" id="collModel" class="form-control" ng-model="selectedCollateral.model"></div>
	            </div>
	            <div class="row">
	                <div class="form-group col-xs-4"><label for="collMileage" class="control-label">Mileage</label><input type="text" name="collMileage" id="collMileage" class="form-control" ng-model="selectedCollateral.mileage"></div>
	                <div class="form-group col-xs-4"><label for="collType" class="control-label">Type</label><select name="collType" id="collType" class="form-control" ng-model="selectedCollateral.collateralType" ng-options="type.id as type.label for type in constants.collateralTypes"></select></div>
	            </div>
	            <div class="row">               
	                <div class="form-group col-xs-8"><label for="collStatus" class="control-label">Status</label><select name="collStatus" id="collStatus" class="form-control"></select></div>
	                <div class="form-group col-xs-4"><label for="collOtherStatus" class="control-label">Status Code</label><input type="text" name="collOtherStatus" id="collOtherStatus" class="form-control"></div>
	            </div>
        	</div>
        	<div class="col-xs-2">
	            <div class="row">
	            	<span class="lien-status {{(constants.titleStatuses | filter: {id: selectedCollateral.loanTitles[0].title.titleStatus})[0].class}}" style="font-size: 8px;"></span>   <strong>Lien {{(constants.titleStatuses | filter: {id: selectedCollateral.loanTitles[0].title.titleStatus})[0].label}}</strong>
	            </div>
	            <div class="row titleDocs">
	            	<strong>Title Documents</strong>
					<ul>
						<li><a href="#"><i class="fa fa-caret-right"></i> T215458<span class="badge pull-right">Title</span></a></li>
						<li><a href="#"><i class="fa fa-caret-right"></i> S5478789<span class="badge pull-right">SIF</span></a></li>
						<li><a href="#"><i class="fa fa-caret-right"></i> T545478<span class="badge pull-right">Title</span></a></li>
						<li><a href="#"><i class="fa fa-caret-right"></i> T454545<span class="badge pull-right">Title</span></a></li>
						<li><a href="#"><i class="fa fa-caret-right"></i> T544878<span class="badge pull-right">Title</span></a></li>
					</ul>
	            </div>	            
	            <div class="row">
	                <div class="form-group">
	                  <div class="checkbox"><label style="font-weight:700;"><input type="checkbox" name="collArchived" id="collArchived" style="margin-top:2px;" ng-model="selectedCollateral.archive"> Archived</label></div>
	                  <div class="checkbox"><label style="font-weight:700;"><input type="checkbox" name="collTitlePreConv" id="collTitlePreConv" style="margin-top:2px;" ng-model="selectedCollateral.paperTitleDataPending"> Paper Title Data Pending</label></div>
	                </div>
	            </div>
        	</div>
        </div>
        </fieldset>
    </form>
</div>

<!-- script type="text/javascript" src="lib/ngPanelSlider/panelSlider.js"></script-->
<!-- script type="text/javascript" src="lib/ngPanelSlider/ngPanelSlider.js"></script-->

<!-- script>
    $(document).ready(function(){
        $("#collateralSlider").panelSlider();
    });
</script-->
