<form name="recoverIdForm">
    <p>Enter your E-mail and your User ID will be emailed to you.</p>
    <div class="input-group {{((recoverIdForm.email.$dirty) && !(recoverIdForm.email.$valid))?'has-error':''}}">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input class="form-control" type="text" name="email" ng-model="$parent.email" ng-pattern="emailPattern" required  placeholder="E-mail address" autocomplete="off">
    </div>
    <div class="form-actions clearfix">
        <div class="pull-left">
            <a ui-sref="nonauth.login" class="grey">Click to login</a><br/>
            <a ui-sref="nonauth.recoverPass" class="grey">Forgot your password?</a>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" ng-click="recoverId()" ng-disabled="!recoverIdForm.$valid">Recover User ID</button>
        </div>
    </div>
</form>