<link rel="stylesheet" type="text/css" href="css/login.css" />
<div class="login-container" ng-controller="LoginController">
	<div class="logo">
		<!--img src="images/DTLogo.png" alt=""-->
		<h2 class="letterpress">Login to {{props.appName}}</h2>
	</div>
	<div class="loginbox">
		<div ui-view></div>
		<div class="footer-login">
			<p>Unauthorized access to the VINtekTIME application is strictly
				prohibited. All attempts to access restricted sections of this
				application will be considered attempts to circumvent system
				security and will be logged.</p>
		</div>
	</div>
	<div>
		<div class="pull-left" style="padding: 10px;">
			<small>Connected from: 69.253.9.135</small>
		</div>
		<div class="pull-right">
			<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
				<tr>
					<td width="135" align="center" valign="top">
					   <img src="images/btnback-seal-89x44.gif"/><br/>
					   <a href="http://www.symantec.com/verisign/ssl-certificates" target="_blank" class="ssltext">ABOUT SSL CERTIFICATES</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- script src="js/login.js"></script-->
