<form name="recoverPassForm">
    <p>Enter your User ID and E-mail address and we will email you a temporary password.</p>
    <div class="input-group {{((recoverPassForm.userId.$dirty) && !(recoverPassForm.userId.$valid))?'has-error':''}}">
        <span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control" type="text" name="userId" ng-model="$parent.userId" ng-pattern="wordPattern" required placeholder="User ID" autocomplete="off">
    </div>
    <div class="input-group {{((recoverPassForm.email.$dirty) && !(recoverPassForm.email.$valid))?'has-error':''}}">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input class="form-control" type="text" name="email" ng-model="$parent.email" ng-pattern="emailPattern" required placeholder="E-mail address" autocomplete="off">
    </div>
    <div class="form-actions clearfix">
        <div class="pull-left">
            <a ui-sref="nonauth.login" class="grey">Click to login</a><br/>
            <a ui-sref="nonauth.recoverId" class="grey">Forgot your User ID?</a>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" ng-click="recoverPass()" ng-disabled="!recoverPassForm.$valid">Recover Password</button>    
        </div>
    </div>
</form>