<form name="loginForm">
    <p>Please enter your login information to continue.</p>
    <div class="input-group {{((loginForm.userId.$dirty) && !(loginForm.userId.$valid))?'has-error':''}}">   <!--  ng-class="{has-error: loginForm.userId.$valid}"  -->  
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="userId" ng-model="$parent.userId" ng-pattern="wordPattern" required placeholder="User ID" autocomplete="off">
    </div>
    <div class="input-group {{((loginForm.password.$dirty) && !(loginForm.password.$valid))?'has-error':''}}">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input class="form-control" type="password" name="password" ng-model="$parent.password" ng-pattern="passPattern" required placeholder="Password" autocomplete="off">
        <div style="position:absolute;top:-10px;right:-40px;" ng-show='isCapsLockOn'><img src="images/lock-icon-48.png"/><br/><span class="ssltext">CAPS LOCK ON</span></div>
    </div>
    <div class="input-group {{((loginForm.pin.$dirty) && !(loginForm.pin.$valid))?'has-error':''}}">
        <span class="input-group-addon" style="padding-right: 8px;"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="pin" ng-model="$parent.pin" ng-pattern="pinPattern" required placeholder="PIN Number" autocomplete="off">
    </div>
    <div class="form-actions clearfix">
        <div class="pull-left">
            <a ui-sref="nonauth.recoverId" class="grey">Forgot your User ID?</a><br/>
            <a ui-sref="nonauth.recoverPass" class="grey">Forgot your password?</a>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" ng-click="login()" ng-disabled="!loginForm.$valid">Login</button>
        </div>
    </div>
</form>
