<div ng-controller="MainController">
  <div class="pageheader bottom-shadow">
	<!--top navbar -->
    <div class="navbar-xs navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-bell-o"></span> Notifications <span class="badge-small">{{getAllNotiCounts(user.notiCounts)}}</span><b class="caret"></b></a>
              <ul class="dropdown-menu wide">
				<li ng-repeat="noti in user.notiCounts"><a style="white-space:normal;" ng-click="showNotificationType(noti.name)"><span class="icon {{noti.icon}}"></span><span>{{noti.name}}</span><span class="pull-right inline-badge">{{noti.count}}</span></a></li>
				<li class="divider">
				<li><a ng-click="showNotificationType('All')">View All &raquo;</a></li>
              </ul>
            </li>
			<li class="divider-vertical"/>
			<li><a ng-click="showSupportModal()">Support</a></li>
			<li class="divider-vertical"/>
			<li><a ui-sref="auth.help">Help</a></li>
			<li class="divider-vertical"/>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{{user.details.name}} <b class="caret"></b></a>
              <ul class="dropdown-menu short">
                <li><a ng-click="showUserSettingsModal()"><span class="icon glyphicon glyphicon-cog"></span>Settings</a></li>
				<li class="divider">
                <li><a ui-sref="nonauth.login"><span class="icon glyphicon glyphicon-off"></span>Log Out</a></li>
              </ul>
            </li>
			<!-- li class="divider-vertical"/>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{{selectedOrg.orgId}} - {{selectedOrg.orgName}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li ng-repeat="org in user.assignedOrgs" class="{{(org.disabled)?'disabled':''}}">
					<a ng-click="selectOrg(org)" ng-show="selectedOrg.orgId != org.orgId"><span class="icon glyphicon glyphicon-chevron-right" ng-hide="org.disabled"></span>{{org.orgId}} - {{org.orgName}}</a>
				</li>
              </ul>
            </li-->
            
			<li class="divider-vertical"/>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{{selectedOrg1.orgId}} - {{selectedOrg1.name}} <b class="caret"></b></a>
              <ul class="dropdown-menu" ng-show="orgs.length">
				<li ng-repeat="org in orgs" class="{{(org.disabled)?'disabled':''}}">
					<a ng-click="selectOrg1(org)" ng-show="selectedOrg1.orgId != org.orgId"><span class="icon glyphicon glyphicon-chevron-right" ng-hide="org.disabled"></span>{{org.orgId}} - {{org.name}}</a>
				</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
	<!--top navbar -->
	
    <!-- logo and search header -->
    <div class="container searchHeader">
		<div class="dtlogo col-md-4 pull-left">
			<img src="images/DTLogo.png" alt="Dealertrack Technologies" width="282" height="74">
		</div>
		<div class="col-md-4 pull-right" style="padding-right:0;">
			<form class="searchForm" role="search">
				<div class="input-group pull-right">
				  <input type="text" class="form-control search" placeholder="search for a loan or title" ng-model="searchFor">
				  <div class="input-group-btn">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></button>
					<ul class="dropdown-menu menu-md pull-right">
						<li><a ng-click="searchBy('titleByVin')">Title - by VIN</a></li>
						<li><a ng-click="searchBy('titleByTitleNumber')">Title - by Title #</a></li>
						<li class="divider"></li>
						<li><a ng-click="searchBy('loanByVin')">Loan - by VIN</a></li>
						<li><a ng-click="searchBy('loanByAccount')">Loan - by Account #</a></li>
					</ul>
				  </div>
				</div>
				<!-- recentdocuments -->
				<div class="input-group pull-right">
					<select class="form-control recent-documents" ng-model="recentDoc" ng-change="selectDoc()" ng-options="doc.organizationId + ' - ' + doc.docType + ': ' + doc.state + ' ' + doc.docID for doc in recentdocuments">
						<option value="">My Recent Documents</option>
					</select>
				</div>
			</form>
		</div>
    </div>

	<!-- main nav -->
	<div class="row clearfix">
		<div class="container">
			<div class="pull-right">
				<nav class="navbar navbar-default" role="navigation">
					<ul class="nav navbar-nav">
						<li ui-sref-active="active"><a ui-sref="auth.home"><img src="images/home.png"/> Home</a></li>
						<li class="divider-vertical">
						
						<li class="dropdown {{(isCurrentView('/app/new_loan')||isCurrentView('/app/new_title'))&&'active'}}">
						  <a class="dropdown-toggle" data-toggle="dropdown"><img src="images/add.png"/> New <b class="caret"></b></a>
						  <ul class="dropdown-menu">
							<li ui-sref-active="active"><a ui-sref="auth.new_loan"><i class="fa fa-money"></i> Loan</a></li>
							<li ui-sref-active="active"><a ui-sref="auth.new_title"><span class="glyphicon glyphicon-folder-close"></span> Title</a></li>
						  </ul>
						</li>
						<li class="divider-vertical">
						<li class="dropdown {{(isCurrentView('/app/find_loan')||isCurrentView('/app/find_title'))&&'active'}}">
						  <a class="dropdown-toggle" data-toggle="dropdown"><img src="images/zoom.png"/>Find <b class="caret"></b></a>
						  <ul class="dropdown-menu">
							<li ui-sref-active="active"><a ui-sref="auth.find_loan"><i class="fa fa-money"></i> Loan</a></li>
							<li ui-sref-active="active"><a ui-sref="auth.find_title"><span class="glyphicon glyphicon-folder-close"></span> Title</a></li>
						  </ul>
						</li>
						<li class="divider-vertical">
						<li ui-sref-active="active"><a ui-sref="auth.reports"><img src="images/list2.png"/> Reports</a></li>
						<li class="divider-vertical">
						<li ui-sref-active="active"><a ui-sref="auth.users"><img src="images/couple.png"/> Users</a></li>
						<li class="divider-vertical">
						<li ui-sref-active="active"><a ui-sref="auth.import"><img src="images/upload.png"/> Import</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- main nav -->
  </div>
		
    <div class="container pageContent">
		<div ui-view></div>
    </div>

    <div class="pageFooter top-shadow">
        <div class="row clearfix">
            <div class="footer-secondary">
               <div class="copyright">
                    <ul>
                        <li class="copyright-text">{{props.appName}} version: {{props.version}}</li>
                        <li class="copyright-text">&copy; 2014 Dealertrack, Inc. All rights reserved.</li>
                        <li class="patent-text">This product is covered by one or more US and foreign patents and pending patent applications.</li>
                    </ul>
                </div>
                <div class="footerIcon-badges-container">
                    <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
                    <tr>
                        <td width="135" align="center" valign="top"><img src="images/btnback-seal-89x44.gif"/><br/>
                        <a href="http://www.symantec.com/verisign/ssl-certificates" target="_blank" class="ssltext">ABOUT SSL CERTIFICATES</a>
                        </td>
                    </tr>
                    </table>
                    <!--ul>
                        <li><a href="https://www.dealertrack.com/portal/landing-pages/security-awareness" target="_blank"><img width="131" height="51" alt="" border="none" src="images/secure.png"></a></li>
                        <li><a href="https://smp-01.verizonbusiness.com/certinfo/certified.do?CERTID=0210003I200" target="_blank"><img width="145" height="51" alt="" border="none" src="images/trusted.png"></a> </li>
                    </ul-->
                </div>
            </div>      
        </div>
    </div>
    
    <modal title="userSettingsTitle" visible="showUserSettings" data-backdrop="static" data-keyboard="false">
       <div ng-include="'partials/userSettingsModal.html'"></div>
    </modal>    

    <modal title="notificationTitle" visible="showNotifications">
       <div ng-include="'partials/notificationsModal.html'"></div>
    </modal>    

	<modal title="supportTitle" visible="showSupport" data-backdrop="static" data-keyboard="false">  <!-- closable="false" -->
       <div ng-include="'partials/supportModal.html'"></div>
	</modal>
</div>