<form role="form">
    <div class="row col-xs-offset-1">
	  <div class="form-group">
	    <span>User: {{user.details.name}}</span><br/>
	    <label for="issue" class="control-label">Please describe your issue here:</label><br/>
	    <textarea rows="4" cols="80" id="issue"></textarea><br/>
	    <span>We will contact you at {{user.details.email}} once the issue is resolved.</span>
	  </div>    
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" ng-click="submitSupport()">Submit</button>
    </div>
</form>