<form action="">
   <div class="row">
       <img class="pull-left" alt="" src="images/user_noPhoto140.jpg" width="140" height="140"/>
        <div class="tableDiv pull-left">
          <div class="rowDiv">
            <span class="cellDiv lbl">User Id:</span>
            <span class="cellDiv">{{user.details.userID}}</span>
          </div>
          <div class="rowDiv">
            <span class="cellDiv lbl">Full Name:</span>
            <span class="cellDiv">{{user.details.name}}</span>
          </div>
          <div class="rowDiv">
            <span class="cellDiv lbl">Email:</span>
            <span class="cellDiv">{{user.details.email}}</span>
          </div>
          <div class="rowDiv">
            <span class="cellDiv lbl">Phone:</span>
            <span class="cellDiv">{{user.details.phone}}{{(!user.details.ext.trim())?'':' x '+user.details.ext}}</span>
          </div>
        </div>
        <div class="tableDiv pull-left with-left-border" style="margin-left: 10px;">
          <div class="rowDiv">
             <span class="cellDiv lbl">Status:</span>
             <span class="cellDiv">Active</span>
          </div>
          <div class="rowDiv">
            <span class="cellDiv lbl">Failed Logins:</span>
            <span class="cellDiv">{{user.details.failedLogins}}</span>
          </div>
          <div class="rowDiv">
            <span class="cellDiv lbl">Expires On:</span>
            <span class="cellDiv">{{user.details.expiresOn}}</span>
          </div>
          <div class="rowDiv">
            <span class="cellDiv lbl">User since:</span>
            <span class="cellDiv">{{user.details.createdOn}}</span>
          </div>
          <div class="rowDiv">
            <span class="cellDiv lbl">Last Login:</span>
            <span class="cellDiv">{{user.details.lastLogin}}</span>
          </div>                  
        </div>             
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</form>