<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="AppController">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{props.appName}}"/>
	<meta name="keywords" content="" />
	<meta name="robots" content="noindex,nofollow,noarchive,nocache,nosnippet" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title>{{props.appName}}</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
	
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="lib/ngBlockUI/angular-block-ui.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="lib/ngDatePicker/datepicker.css"></link>
	<link rel="stylesheet" type="text/css" media="screen" href="lib/ngPanelSlider/panelSlider.css"></link>
	
	<!--[if lt IE 9]>
	   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	   <script type="text/javascript" src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->	
	<link rel="stylesheet" type="text/css" href="css/dtstyles.css"/>
	<link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body ng-cloak>

	<div ui-view></div>
	
	<footer>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>	    		
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.min.js"></script>
        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="lib/ngDatePicker/isoDatePicker.js"></script>
        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	    
	    <script type="text/javascript" src="lib/ngBlockUI/angular-block-ui.min.js"></script>
		<script type="text/javascript" src="lib/ngTree/angular.treeview.js"></script>
		<script type="text/javascript" src="lib/ngModal/ngModal.js"></script>
		<script type="text/javascript" src="lib/ngScrollSpy/ngScrollSpy.js"></script>
		<script type="text/javascript" src="lib/ng-caps-lock/ng-caps-lock.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
		
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
		<script type="text/javascript" src="http://passy.github.io/angular-masonry/angular-masonry.min.js"></script>
		
		<script type="text/javascript" src="lib/ngPanelSlider/panelSlider.js"></script>
		<script type="text/javascript" src="lib/ngPanelSlider/ngPanelSlider.js"></script>

		<script type="text/javascript" src="js/ng/app.js"></script>
		<script type="text/javascript" src="js/ng/services.js"></script>
        <script type="text/javascript" src="js/ng/filters.js"></script> 
        <script type="text/javascript" src="js/ng/AppController.js"></script>
        <script type="text/javascript" src="js/ng/LoginController.js"></script>
        <script type="text/javascript" src="js/ng/MainController.js"></script>
        <script type="text/javascript" src="js/ng/HomeController.js"></script>
        <script type="text/javascript" src="js/ng/FindLoanController.js"></script>
        <script type="text/javascript" src="js/ng/FindTitleController.js"></script>
        <script type="text/javascript" src="js/ng/ReportsController.js"></script>
        <script type="text/javascript" src="js/ng/AccountController.js"></script>
        <script type="text/javascript" src="js/ng/LoanController.js"></script>
        <script type="text/javascript" src="js/ng/TitleController.js"></script>
        <script type="text/javascript" src="js/ng/WorkflowController.js"></script>
        <script type="text/javascript" src="js/ng/AttachmentsController.js"></script>
        <script type="text/javascript" src="js/ng/UsersController.js"></script>
        <script type="text/javascript" src="js/ng/ImportController.js"></script>
	</footer>
</body>
</html>